<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fu.dao.AccessTokenMapper" >
  <resultMap id="BaseResultMap" type="com.fu.entity.AccessToken" >
    <id column="auth_id" property="authId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="expires_in" property="expiresIn" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    auth_id, user_id, token, expires_in, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_access_token
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_access_token
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fu.entity.AccessToken" >
    insert into t_access_token (auth_id, user_id, token, 
      expires_in, create_date)
    values (#{authId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{token,jdbcType=VARCHAR}, 
      #{expiresIn,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fu.entity.AccessToken" >
    insert into t_access_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        auth_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="expiresIn != null" >
        expires_in,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authId != null" >
        #{authId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fu.entity.AccessToken" >
    update t_access_token
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null" >
        expires_in = #{expiresIn,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fu.entity.AccessToken" >
    update t_access_token
    set user_id = #{userId,jdbcType=BIGINT},
      token = #{token,jdbcType=VARCHAR},
      expires_in = #{expiresIn,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
</mapper>