<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fu.dao.CredentialMapper" >
  <resultMap id="BaseResultMap" type="com.fu.entity.Credential" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="client_secret" property="clientSecret" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, client_id, client_secret
  </sql>
  
  
  <!-- 通过clientId查询 -->
  <select id="selectByClientId" resultMap="BaseResultMap" parameterType="String">
  	select 
    <include refid="Base_Column_List" />
    from t_credential
    where client_id = #{clientId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_credential
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_credential
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fu.entity.Credential" >
    insert into t_credential (id, user_id, client_id, 
      client_secret)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{clientId,jdbcType=VARCHAR}, 
      #{clientSecret,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fu.entity.Credential" >
    insert into t_credential
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="clientSecret != null" >
        client_secret,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        #{clientSecret,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fu.entity.Credential" >
    update t_credential
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="clientSecret != null" >
        client_secret = #{clientSecret,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fu.entity.Credential" >
    update t_credential
    set user_id = #{userId,jdbcType=BIGINT},
      client_id = #{clientId,jdbcType=VARCHAR},
      client_secret = #{clientSecret,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>